.pageNotFound-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin-bottom: 12px;
}

.card-header {
    color: #333;
    margin-bottom: 12px;
    font-size: 1.5em;
}
.avatar {
    width: 60px;
        height: 60px;
    object-fit: cover;
    border: 2px solid grey;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.field-name strong {
    text-transform: uppercase;
}

.avatar-container {
    text-align: center;
}