.step-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}
#avatar {
    display: none;
}

.form-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}


.form-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-error:focus {
    border-color: red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.error-message {
    font-size: 12px;
    color: red;
    margin-top: 5px;
}
/* file  */
.drop-zone {
    border: 2px dashed #aaa;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #e0e0e0;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.drop-zone.red-border {
    border: 2px dashed #ff0000;
}

.drop-zone.green-border {
    border: 2px dashed #4caf50;
}
.drop-zone.dragging {
    border-color: #00f;
    background: #f0f8ff;
}

.drop-instructions {
    margin-top: 10px;
    color: #888;
    font-size: 10px;
}
/* select file  */

.btn-select-file {
    width: 100px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: gray;
    transition: background-color 0.3s;
}

.btn-select-file:hover {
    background-color: darkgray;
}

.selected-file {
    margin-top: 10px;
    font-size: 14px;
}

.green-file-name {
    color: #4caf50;
}

.red-file-name {
    color: #ff0000;
}

.no-file-name {
    color: #888;
}